<header>
    <div class="container-fluid ">
        <div class="row">
            <div class="logo col-6 mt-2">
                <span>Doctroid</span>
                <small class="smal">Dashbord</small>
            </div>
            <!-- <div class="col-4 col-md-4 col-sm-3 search-box mt-2 m-auto  ">
                <input type="name" class="input " placeholder="  search here....">
                <i class="fas fa-search searsh-icon"></i>
            </div> -->
            <div class="col-6 d-flex flex-row-reverse mt-2 pr-5 ">
                <button [routerLink]="['../signin']" class="btn btn-outline-light mt-2 btn-logout">logout </button>
            </div>
        </div>
    </div>
</header>