<header>
    <div class="container-fluid">
        <div class="row">
            <div class="logo col-2 mt-2">
                <h1>Doctroid</h1>
                <small class="smal">dashbord</small>
            </div>
            <div class="col-5 search-box m-auto  ">
                <input type="name" class="input " placeholder="  search here....">
                <i class="fas fa-search searsh-icon"></i>
            </div>
            <div class="col-3 d-flex flex-row-reverse mt-2 mr-3">
                <button class="btn btn-outline-light mt-2 btn-logout">logout </button>
            </div>
        </div>
    </div>
</header>