.title {
    margin: auto;
}

.med-card {
    background-color: brown;
    height: 200px;
    width: 100%;
    margin: auto;
}

.mid-info {
    background-color: burlywood;
    height: 100px;
    width: 100%;
}

.pic {
    height: 100px;
    width: 100%;
    background-color: cornsilk;
}