<section>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-10 title">
                <div class="col-6 ">
                    <h2>Medicines</h2>
                </div>
                <div class=" col-6  ">
                    <a href="javascript:;" [routerLink]="['../addmedicine']" class="btn btn-primary">
                        <div>+ add new medicines</div>
                    </a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-10 med-card">
                <div class="col-6 mid-info">


                </div>

                <div class="col-4 pic"></div>
            </div>

        </div>
    </div>
</section>