hr.solid {
    border-top: 3px solid #bbb;
}

.img-r {
    padding-right: 2px;
}

.img-r img {
    height: 40px;
}

.title-r {
    padding-top: 4px;
    padding-left: 0px;
}

.title-r span {
    font-size: 20px;
}

.rrrr {
    color: brown;
    padding: 2px;
    border-left: 3px solid #555;
}

.status {
    height: 40px;
    width: 40px;
    cursor: default;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.i-status {
    font-size: 25px;
}