<div class="container">

  <table class=" table table-bordered table-dark">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>


        <th>Time</th>
        <th>Date</th>

        <th>Medical Analysis</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of requests">
        <td>{{p.req_p_name}}</td>
        <td>{{p.req_p_phone}}</td>
        <td>{{p.req_time}}</td>
        <td>{{p.req_date}}</td>

        <td>{{p.req_test}}</td>


        <td>
          <button>Check</button>
        </td>




      </tr>
    </tbody>
  </table>
</div>
