.title-medicine-analys {
    width: 50%;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

.add {
    margin-top: 10px;
    width: 50%;
}

.dropdown {
    margin-top: 20px;
    width: 30%;
}

.btn-primary {
    color: #19769f;
    background-color: #ffffff;
    border: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #19769f;
    border: solid 1px #fff;
}

.med-card {
    margin: 10px 0px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.mid-content {
    margin: 20px 0px;
    width: 40%;
    height: 140px;
}

.mid-content ul {
    list-style-type: none;
    padding: 10px 10px;
}

.mid-content ul li {
    padding-bottom: 10px;
    font-size: 18px;
}

.mid-content ul li i {
    font-size: 20px;
}

.mid-content ul li span {
    font-size: 20px;
    color: #19769f;
    font-weight: 500;
    padding-left: 10px;
}

.i1 {
    color: #15ceef;
}

.i2 {
    color: rgb(45, 185, 45);
}

.i3 {
    color: #ff7474;
}

.text-en {
    width: 60%;
    margin: 20px 0px;
}

.text-en ul {
    list-style-type: none;
    padding: 10px;
}

.text-en ul li i {
    font-size: 20px;
    padding-right: 5px;
}

.text-en ul li span {
    font-size: 20px;
    color: #19769f;
}

.text-en ul li {
    font-size: 17px;
    padding: 0px 0px 8px 2px;
}

.mid-sitting {
    margin: 0px 10px 10px 5px;
    width: 100%;
    background-color: #fff;
    text-align: end;
}

.mid-sitting .btn {
    color: #fff;
    background-color: #ff7474;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 400;
    border: none;
}

.vartecal {
    margin: 3px auto;
    width: 30%;
    height: 2px;
    border: none;
    background-color: #19769f;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}