<div class="container-fluid" style="display: inline;">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link " [routerLink]="['/home/patients']">
                             Patients
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home/requests']">
                             Requests
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home/Medicines']">
                             Medicines
                        </a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home/hospital']">
                            Hospital
                        </a>
                    </li>

                </ul>



            </div>
        </nav>

    </div>
</div>