* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.sileder {
    position: fixed;
    height: 100%;
    width: 16%;
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
}

.item {
    font-size: 18px;
    margin: 10px 10px;
    padding: 10px 0px;
    border: solid 0.5px rgb(25, 118, 159, 0.2);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.nav-link {
    color: #455571;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

.sileder-icon {
    margin-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: #19769f;
}

.i-1 {
    color: #11cdef;
}

.i-2 {
    color: #7764e4;
}

.i-3 {
    color: #5fe5bc;
}

.i-4 {
    color: #ff7474;
}

.i-5 {
    margin-right: 8px;
    margin-left: 8px;
    height: 18px;
    width: 17px;
}

.i-6 {
    color: #0acc6b;
}

.nav-link:hover {
    color: rgb(199, 196, 184);
}