* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.sileder {
    margin-top: 3px;
    position: fixed;
    height: 99%;
    width: 15%;
    background-color: #19769f;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.item {
    font-size: 22px;
    padding: 8px 0px;
    border-bottom: solid 1px #fff;
}

.nav-link {
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.sileder-icon {
    font-size: 20px;
    color: #fff;
}

.nav-link:hover {
    color: rgb(214, 210, 191);
}