<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-9 d-flex justify-content-between m-auto ">
                <div class="mid-title">
                    <h2>Medicines</h2>
                </div>
                <div class="add-mid">
                    <a href="javascript:;" [routerLink]="['../addmedicine']" class="btn btn-primary ">
                        <div>+ add new medicines</div>
                    </a>
                </div>

            </div>
            <div class="row m-auto">
                <div class="col-9 d-inline-flex m-auto con-med" *ngFor="let m of medicinesData">
                    <div class="data-med">
                        <ul>
                            <li><samp>Title</samp> : {{m.medicine_Name}}</li>
                            <li><samp>Price</samp> : {{m.medicine_Price}}</li>
                            <li><samp>Quantity</samp>: {{m.medicine_Quantity}}</li>
                        </ul>
                    </div>
                    <div class="med-pic">
                        <img src="{{m.medicine_ImageUrl}}" class="img-fluid ">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>