.form-med {
    margin: 30px;
    background-color: #f7fafc;
    padding: 20px 20px;
    width: 500px;
    border: 3px solid #19769f;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.b-back {
    background-color: #19769f;
    color: #fff;
    padding: 6px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}