<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3>Hospital</h3>
            </div>

            <div class="col">
                <button _ngcontent-mwi-c2="" class="btn btn-outline-dark mt-2 btn-logout" tabindex="0" ng-reflect-router-link="" [routerLink]="['../edithospital']">Edit </button>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-12 mt-4 ">
                <form id="form-medicine" class="form-med">
                    <div class="form-group">
                        <label for="Medicine"> Hospital Name</label>
                        <input type="text" class="form-control" name=" Medicine" value="{{hospitalData.hospital_name}}">

                        <label for="Description"> Website</label>
                        <input type="text" class="form-control" name="
              Description" value="{{hospitalData.hospital_website}}">
                        <label for="Description"> Phone </label>
                        <input type="text" class="form-control" name="
              Description" value="{{hospitalData.hospital_phone}}">
                        <label for="Description"> Location </label>
                        <input type="text" class="form-control" name="
                Description" value="{{hospitalData.hospital_location}}">

                        <label for="Description"> ItManager </label>
                        <input type="text" class="form-control" name="
                Description" value="{{hospitalData.hospital_itManager}}">

                        <label for="Description"> GeneralManager </label>
                        <input type="text" class="form-control" name="
                Description" value="{{hospitalData.hospital_generalManager}}">

                        <label for="Description"> FB </label>
                        <input type="text" class="form-control" name="
                Description" value="{{hospitalData.hospital_facebook}}">

                        <label for="Description"> Email </label>
                        <input type="text" class="form-control" name="
                    Description" value="{{hospitalData.hospital_email}}">

                        <label for="Description"> AdminstrationManager </label>
                        <input type="text" class="form-control" name="
                        Description" value="{{hospitalData.hospital_adminstratonManager}}">

                        <label for="Description"> PurchasingManager </label>
                        <input type="text" class="form-control" name="
                                    Description" value="{{hospitalData.hospital_PurchasingManager}}">

                        <label for="Description"> MarketingManager </label>
                        <input type="text" class="form-control" name="
                                    Description" value="{{hospitalData.hospital_MarketingManager}}">







                    </div>

                </form>
            </div>
        </div>
    </div>


</section>