.b-back {
    padding: 8px 25px;
}

.form-med {
    background-color: #f7fafc;
    padding: 10px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.bb {
    background-color: #19769f;
    color: #fff;
    padding: 6px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}