<div class="container-fluid ">
    <div class="row ">
        <div class=" col-lg-12 col-12  ">
            <table class="table table-striped  mt-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">firstName</th>
                        <th scope="col">lastName</th>
                        <th scope="col">email</th>
                        <th scope="col">phone</th>
                        <th scope="col">gender</th>
                        <th scope="col">date</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of patients let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{p.firstName}}</td>
                        <td>{{p.lastName}}</td>
                        <td>{{p.email}}</td>
                        <td>{{p.phone}}</td>
                        <td>{{p.gender}}</td>
                        <td>{{p.date}}</td>


                    </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>