<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-12 title">
            <h2>Patients</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col-sm-12 patient " *ngFor="let p of patients">
            <div class="data-patient">
                <i class="far fa-user i-1"></i> <span>{{p.firstName}} {{p.lastName}}</span>
            </div>
            <div class="data-patient">
                <i class="far fa-envelope i-2 "></i> <span>{{p.email}}</span>
            </div>
            <div class="data-patient">
                <i class="fas fa-phone-alt i-3"></i> <span>{{p.phone}}</span>
            </div>

            <div class="data-patient">
                <i class="fas fa-venus-mars i-4"></i> <span>{{p.gender}}</span>
            </div>

            <div class="data-patient">
                <i class="far fa-calendar-alt "></i> <span>{{p.date}}</span>
            </div>
        </div>
    </div>
</div>