.form-med {
  margin: 30px;
  padding: 20px 20px;
  width: 500px;
  border: 3px solid #19769f;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.b-back {
  padding: 8px 25px;
}
